@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);

@font-face {
	font-family: 'Duarte Centenario';
	src: url('../fonts/duarte_centenario.eot');
	src: local('Duarte Centenario'), url('../fonts/duarte_centenario.woff') format('woff');
}

body {
  color:#cfc;
  font-family:tahoma,verdana,sans-serif;
  font-size:16px;
  padding:0px;
  margin:0px;
  background-color:#594;
  background-image:url("../images/greentexture.jpg");
}

.fine {
  font-size:.8em;
}

h4 {
  font-size:1em;
  font-weight:bold;
}

h3 {
  font-size:1.2em;
  font-weight:normal;
}

h2 {
  font-size:1.3em;
  font-weight:bold;
}

h1 {
  font-size:1.6em;
  font-weight:bold;
}

h1,h2,h3,h4	{
  margin:0px;
}

a {
  text-decoration:none;
  font-weight:bold;
}

a:link {
  color:#8d8;
}

a:visited	{
  color:#8d8;
}

a:hover {
  color:#eca;
  text-decoration:underline;
}

a img {
  border:0px;
}


li {
  margin-bottom:6px;
}


article.indent h3 {
  margin: 20px -20px;
}

.indent {
  margin:20px;
}

.indent p	{
  text-align:justify;
}

.main {
  width: 83%;
  max-width: 1200px;
  margin: 0 auto;
}


.sidebar	{
  float: left;
  width:17%;
  text-align:center;
}

.tentacle-ribbon {
  width: 100%;
  max-width: 170px;
}

.sidebar h3	{
  font-family: Duarte Centenario;
  font-size:1.2em;
  text-align:center;
}

.sidebar h4	{
  font-size:1em;
}


.body h3	{
  font-family: Duarte Centenario;
  font-size:1.3em;
}

.body h4	{
  font-family: Duarte Centenario;
  font-weight:normal;
}

.body {
  float: right;
  background-color:#010;
  border:solid #6a6 2px;
  margin-bottom:10px;
  padding:0.5%;
  width: 79%;
  border-radius:15px 15px 15px 15px;
  
}

.body h3	{
  border-bottom:1px solid #373;
  padding-left:6px;
}

.body dt	{
  font-weight:bold;
  border-bottom:1px solid #6a6;
}

.body dd	{
  margin:10px;
}


.title {
  text-align:center;
  padding-bottom:10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #836342), color-stop(145%, transparent));
  background-image: -webkit-linear-gradient(#836342 5%, transparent 145%);
  background-image: -moz-linear-gradient(#836342 5%, transparent 145%);
  background-image: -o-linear-gradient(#836342 5%, transparent 145%);
  background-image: -ms-linear-gradient(#836342 5%, transparent 145%);
  background-image: linear-gradient(#836342 5%, transparent 145%);
  border-radius:10px 10px 10px 10px;
}

.title	h3	{
  border:none;
}

.title_text	{
  margin:auto;
}

.title_text h1 {
  font-family: Duarte Centenario;
}
.title_text h1.smaller {
  font-size: 2.4em;
  line-height: 35px;
}
.title_text h1.larger {
  font-size: 3.3em;
  line-height: 48px;
}

.title_text h3 {
  font-family: 'IM Fell English SC', serif;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -2px;
}
.title_text h3:first-child {
  margin-bottom: -0.3em;
  padding-top: 0.5em;
}

.red {
  color: #D25F5C;
}

.title_text h1,
.title_text h3	{
  text-shadow: 0 0 2px #000, 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;
  padding: 0;
}


#main-nav ul {
  font-weight:bold;
  font-size:.9em;
  margin:8px 0px;
  padding:0px 00px 0px 16px;
  border-bottom:2px solid #6a6;
}

#main-nav ul li	{
  display:inline;
  margin:0px 6px;
}

#main-nav ul a {
  border:2px solid #6a6;
  padding:0px 8px;
  background:#141;
}

#main-nav ul li,
#main-nav ul a {
  border-radius:10px 10px 0px 0px;
}

li.menu-current	{
  border:2px solid #6a6;
  border-bottom-color:#010;
  margin:0px 6px;
  padding:0px 8px;
}

#main-nav ul a:hover	{
  text-decoration:none;
  color:#cfc;
}

.menu-flip	{
  border-bottom:none;
  border-top:2px solid #6a6;
}

.menu-flip a,
.menu-flip li	{
  border-radius:0px 0px 10px 10px;
}

.menu-flip li.menu-current	{
  border-top-color:#010;
  border-bottom-color:#6a6;
}


.center {
  text-align:center;
}


.divide {
  border-top:2px solid #6a6;
}


.photo {
  margin-left:8px;
  margin-bottom:4px;
  padding:1px;
  background-color:#262;
  font-size:.8em;
  text-align:right;
  float:right;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-end: 0;
}

.outline	{
  border:1px solid #262;
}


.box {
  margin-bottom:10px;
  padding:0px 6px 6px 6px;
  background-color:#030;
		 border:solid 1px #6a6;
  text-align:left;
}

.box {
  border-radius:4px 4px 4px 4px;
}

.box p {
  text-indent:10px;
}

.box h4 {
  text-align:center;
  margin-top:8px;
}

.box h3 {
  border-bottom:1px solid #6a6;
}


.sighting	{
  margin:20px;
  text-align:justify;
  border-top:6px solid #6a6;
  margin-top:20px;
}

.letter {
  margin-top:20px;
  background-color:#020;
  border:1px solid #6a6;
  padding:10px;
}

.letter p,
.letter em	{
  font-family:monospace;
}

.letter h4	{
  font-family:monospace;
  font-weight:bold;
}

.subject	{
  font-family:monospace;
  border-bottom:1px solid #040;
  margin:0px;
}


.cephnews	{
  font-size:.8em;
}

.cephnews dt	{
  margin-top:4px;
}

.cephnews dd	{
  padding-left:0px;
  margin-left:10px;
}

ul.cephnews	{
  margin:0px;padding:0px;
}

.cephnews b	{
  font-size:.7em;
}

.cephnews li	{
  margin:0px;
  padding:0px;
  list-style:none;
}


body	{
  scrollbar-face-color: #8c8;
	scrollbar-shadow-color: #8c8;
	scrollbar-highlight-color: #8c8;
	scrollbar-3dlight-color: #8c8;
	scrollbar-darkshadow-color: #8c8;
	scrollbar-base-color: #040;
	scrollbar-track-color: #040;
	scrollbar-arrow-color: #040;
}

/* Medium-sized screens (tablets, etc.) */
@media only screen and (max-width:850px) {

  .main {
    width: 100%;
  }

  .body {
    width: 81%;
  }

}

/* Small screens (phones & such) */
@media only screen and (max-width:590px) {

  .body, .sidebar {
    float: none;
    width: 100%;
  }
  .body {
    border: none;
    padding: 0;
  }

  .tentacle-ribbon {
    display: none;
  }

}

